@charset "UTF-8";
html {
    font: 1em/1.2 serif;
}

body {
    margin: 20px auto;
    padding: 0;
    width: 90%;
    max-width: 980px;
    background-color: #000;
    color: #f8f8f8;
}

header {
    border-bottom: 10px double;
}

h1 {
    text-align: center;
}

div#linear,
div#radial,
div#conic,
div#image {
    margin: 2em auto;
    padding: 0.1em;
}

div.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.box {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 1em;
}
